<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WhereIsRoadster</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>

<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
  <span class="pretty-header left-right-line-short-header">
    <b>WHERE IS ELON MUSK ROADSTER</b>
  </span>
</div>

<br>

<nav class="navigation">
    <a href="/">
        <img src="img/rocketLogo.png">
    </a>
    <ul>
        <li><a href="/" class="menu__link"><b>Home</b></a></li>
        <li><a href="https://www.spacex.com" class="menu__link"><b>About</b></a></li>
    </ul>
</nav>

<div class="photo">
    <img src="img/roadster.png">
</div>
<div class="frame">
    <div id="bubble-1">
        <ul>
            <li>
                <b>earth distance km:</b>
                <b th:text="${roadster.earth_distance_km}"></b>
            </li>
            <li>
                <b>mars distance km:</b>
                <b th:text="${roadster.mars_distance_km}"></b>
            </li>
            <li>
                <b>speed kph:</b>
                <b th:text="${roadster.speed_kph}"></b>
            </li>
            <li>
                <b>launch date: 06.02.2018</b>
            </li>
        </ul>
    </div>
</div>
<footer class="footer">
    <div> @Where_Is_Roadster_Project</div>
    <a th:href="${roadster.video}"><img src="img/youtube.png" class="imgup" alt=""></a>
    <a th:href="${roadster.wikipedia}"><img src="img/wiki.png" class="imgup" alt=""></a>
    <a href="https://github.com/MrVindt"><img src="img/git.png" class="imgup" alt=""></a>
</footer>
</body>
</html>
